.house_detail {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 10px 10px;
    margin-top: 10px;
  }

  .houseListcontainer {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 10px 10px;
    margin-top: 10px;
  }