.house_detail {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 10px 10px;
    margin-top: 10px;
  }

  .houseListcontainer {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 10px 10px;
    margin-top: 10px;
  }

  .houseIcon {
    width: 75px;
    height: auto;
    float:left;
  }

  .houseTxt {
    float:right;
    padding-left: 30px
  }

  .flexonthehouses {
    display:flex;
  }
